@use "abstracts" as abs;

html {
  font-family: abs.$font-body;
  line-height: 1.6;
  font-size: 1rem;
}

h1 {
  font-family: abs.$font-titles;
  font-size: 2rem;
  letter-spacing: 0.5px;
  color: abs.$primary;
}


a {
  color: abs.$primary;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, text-shadow 0.2s ease;
  position: relative;
  &:hover {
    color: abs.$primary-light;
  }
}


li {
  list-style-type: '✦';
  color: abs.$primary;
  padding-inline-start: 1ch;

}
